<!DOCTYPE html>
<html>
<head>
    <title> {% block title %} Book Alchemy {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }} ">
</head>
<body>
    <div class="container"></div>
        {% block content %}

        {% endblock %}
    </div>
<!--   <script src="{{ url_for('static', filename='script.js') }}"></script>-->
</body>
</html>